@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/resource/fonts/bebasneue-webfont.eot');
    src: url('/resource/fonts/bebasneue-webfont.eot@#iefix') format('embedded-opentype'),
         url('/resource/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('/resource/fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:"Times New Roman", Times, serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color:#192024;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
strong {
	font-weight:bold;
	}
	
/*=CLEARING FLOATS
***********************************/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*=LAYOUT AND STRUCTURE
***********************************/
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a  {
	font-family:"BebasNeueRegular", Arial, Helvetica;
	color:#1a2024;
	text-decoration:none;
	}

#main-wrapper {
	margin:0 auto;
	}
header {
	position:relative;
	height:88px;
	padding:20px;
	background:url(images/blue-bg.png);
	}

.main-content p {
	font-size:0.875em;
	line-height:1.3em;
	margin:20px 0;
	}
.main-content p a {
	color:#e55313;
	}
.main-content p a:hover, .main-content p a.active {
	text-decoration:none;
	}
a.read-more, input[type=submit], input[type=reset] {
	display:block;
	padding:5px 17px;
	width:55px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	color:#fff;
	font-size:0.875em;
	font-family:"BebasNeueRegular", Arial, Helvetica;
	text-decoration:none;
	text-align:center;
	background:#c1c4c7;
	position:absolute;
	right:20px;
	bottom:-12px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	border:0;
	}
a.read-more:hover,a.read-more:active, input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:active, input[type=reset]:active {	
	background:#f9c50f;
	}
.next-prev {
	padding:15px 20px;
	text-align:center;
	border-bottom:1px solid #C1C4C7;
	}
.next-prev a {
	font-family:"BebasNeueRegular", Arial, Helvetica;
	font-size:1em;
	text-decoration:none;
	color:#1a2024;
	}
.next-prev  a:hover, .next-prev a:active {
	text-decoration:underline;
	}

/*=FRONT PAGE
***********************************/
.main-front {
	position:relative;
	padding:10px;
	background:#efefef;
	border-bottom:1px solid #c1c4c7;
	}
.main-front img {
	max-width:100%;
	height:auto;
	}
.main-front h2 {
	font-size:1.5em;
	margin-bottom:10px;
	}
.main-front figure {
	margin-bottom:10px;
	}
.main-front p {
	margin-bottom:0;
	}
	
/*=CATEGORY LISTING
***********************************/
.listing {
	clear:both;
	}
.listing article {
	position:relative;
	padding:20px;
	min-height:100px;
	border-bottom:1px solid #c1c4c7;
	}
.listing article h2 {
	font-size:1.225em;
	margin-bottom:5px;
	}
.listing article h2 a:hover, .listing article h2 a:active {
	text-decoration:underline;
	}
.listing .thumb {
	float:left;
	width:101px;
	margin-right:15px;
	position:relative;
	border-radius:101px;
	-webkit-border-radius:101px;
	-moz-border-radius:101px;
	border:5px solid #c1c4c7;
	}
.listing .thumb img {
	display:block;
	border-radius:101px;
	-webkit-border-radius:101px;
	-moz-border-radius:101px;
	}
.listing article .thumb .time {
	background:#c1c4c7;
	font-family:"BebasNeueRegular", Arial, Helvetica;
	color:#fff;
	text-align:center;
	font-size:0.813em;
	position:absolute;
	left:0;
	bottom:15px;
	width:50px;
	padding:3px 5px;
	}
.listing article .text {
	margin:35px 0;
	}
.listing article p {
	font-size:0.90em;
	margin-bottom:0;
	}
h1.section-title {
	font-size:1.5em;
	border-bottom:1px solid #c1c4c7;
	padding:18px;
	}

/*=FORM
***********************************/
form {
	padding:20px;
	position:relative;
	margin-bottom:20px;
	}
input[type=text], input[type=email], input[type=number], textarea {
	font-family: Arial, Helvetica;
	width:95%;
	padding:5px 10px;
	background:#f0f1f1;
	border:1px solid #C1C4C7;
	border-radius:15px;
	font-size:0.875em;
	color:#1a2125;
	}
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=number]:focus {
	border:1px solid #192024;
	}
input[type=submit], input[type=reset] {
	cursor:pointer;
	bottom:0px;
	border:1px solid #C1C4C7;
	font-size:1em;
	}