body, ul, ol {
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main {
    margin: 0 auto;
    max-width: 540px;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline;
    background-color: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0px 5px;
    margin: 1px;
}

#navigation {
    height: 38px;
}

#navigation ul li {
    float: left;
    width: 33.3%;
}

#navigation #list-name a {
    display: block;
    width: 100%;
    height: 38px;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    color: #1A1A1A;
    font-size: large;
}

#navigation #bottom-color li {
    display: block;
    width: 33.3%;
    height: 2px;
}

.list-bottom-color {
    background-image: url("/resource/img/home/border-buttom-red.jpg");
    background-repeat: no-repeat;
}

/*head image*/
#head-img {
    position: relative;
    height: 157px;
}

#head-img ul{
    position: relative;
    height: 157px;
    overflow: hidden;
}

#head-img ul li {
    float: left;
}

.head-img-ul a {
    width: 100%;
    height: 157px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
}

#head-img-btn ol {
    bottom: 23px;
    right: 3px;
    height: 5px;
    z-index: 2;
    position: absolute;
}

#head-img-btn ol li {
    float: left;
}

#buy-box {
    position: fixed;
    bottom: 0px;
    width: 300px;
    height: 200px;
    display: none;
}

#buy-box .btn {
    float: left;
    padding: 2px;
}

.shop-row-item {
    width: 300px;
    height: 300px;
}

.item {
    float: left;
    width: 150;
}

.item-process {

}

.item-share {

}

.item-buy {

}